Requirements

Must allow users to create an online profile, secure with username and password. Online profile must store the following information - Full name, address, email address, skills, previous employment, qualifications, current employment or education status, preferred location, interests.

Must keep user’s information secure and private unless the user wishes otherwise.

Must provide an interactive visualisation detailing past employment, education and other relevant experience as well as potential “future pathways.” These will detail potential educational and career opportunities.

Should allow users to go down potential future pathways to see what opportunities would present themselves further down that path.

Must allow users to search for specific careers and courses so that the required pathway to that point can be displayed as well as future pathways from that point.

Visualisation should be clear and concise, providing a good amount of relevant information without overwhelming the user.

Could allow employers and educators to put employment and educational opportunities on the system so that they would show up as options in user’s future pathways.

Could allow users the option to share their profiles as a visualised  online CV.

Could allow users the option to open their profiles to the public to allow employers and educators to search for potential candidates.

Must work well on all major browsers.

Should work well on mobile and tablet devices.


